@using News.Domain.ViewModels.Hashtags
@model DetailsHashtagViewModel

@{
    ViewData["Title"] = "جزیات هشتگ";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="block-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="breadcrumb breadcrumb-style ">
                                <li class="bcrumb-1">
                                    <a href="/">خانه</a>
                                </li>
                                <li class="bcrumb-3">
                                    @ViewData["Title"]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="product-store">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="product-payment-details">
                                    <h2 class="product-price display-4">@Model.HashtagName</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

