@using News.Domain.Entities.Reports
@using News.Domain.ViewModels.Reports
@using News.Application.Extensions
@using News.Application.Statics
@model List<ReportGroup>

@{
    ViewData["Title"] = "دسترسی سریع";
}

@section Styles
{
    <link href="~/assets/css/honeycombstyle.css" rel="stylesheet" />
}

<div class="col-12 col-lg-9 mb-5">
    <div class=" bg-light-subtle border-style rounded text-center p-5">
        <h3 class="mb-3"> دسته های خبری </h3>
        <ul id="hexGrid" style="padding-top: 20px; padding-bottom: 75px;">
            @foreach (var group in Model)
            {
                <li class="hex">
                    <a asp-area="" asp-controller="Report" asp-action="ReportGroup" asp-route-urlName="@group.UrlName" class="hexIn">
                        <img src="@(SiteTools.ReportImagesName + group.GroupImage)" alt="" />
                        <h1 style="color: darkorange"> @group.GroupName </h1>
                        <p>  </p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

