@using News.Application.Statics
@using News.Domain.ViewModels.Images
@model ImagesAndReportGroupsViewModel

<!--Side Menu Start-->
<nav class="am-container">
    <div class="position-relative">
        <h3 class=""> گالری تصاویر  <a> <img class="" src="Assets/Img/Logo/AbanNewsLogo.png" style="width: 80px; height: 30px; float: left;"> </a> </h3>
    </div>
    <div class="align-items-center mx-2">
        <i class="fa fa-folder-open text-white-50" style="font-size:.7rem;"></i>
        <a class="text-white text-decoration-none">مشاهده همه گالری ها</a>
    </div>
    <ul class="grid-items">
        @foreach (var image in Model.Images)
        {
            <li><img src="@(SiteTools.GalleryImagesMethod(image.Gallery.GallryName) + image.ImageName)" alt="@image.Gallery.GallryName" />  </li>
        }
    </ul>
    <h3>لینک های اصلی منو </h3>
    <ul class="list-item">
        <!--//sub-items-->
        <li> <a asp-area="" asp-controller="Site" asp-action="QuickAccess"> <span class="item-icon"> <img src="Assets/Img/Icons/QuickAccess.png" class="circle" /> </span> دسترسی سریع </a> </li>
        <li> <a asp-area ="" asp-controller="Site" asp-action="Archive"> <span class="item-icon"> <img src="Assets/Img/Icons/Archive.png" /> </span> آرشیو اخبار </a> </li>
        <li> <a asp-area="" asp-controller="Site" asp-action="MostViewed"> <span class="item-icon"> <img src="Assets/Img/Icons/TopNews.jpg" class="rounded" /> </span> اخبار پربازدید </a> </li>
        <li> <a asp-area="" asp-controller="Site" asp-action="ContactUs"> <span class="item-icon"> <img src="Assets/Img/Icons/ContactUs.jpg" /> </span> ارتباط با ما  </a> </li>
    </ul>
    <h3>گروه های خبری</h3>
    <ul class="cloud-tags">
        @foreach (var reportGroup in Model.ReportGroups)
        {
            <li><a>@reportGroup.GroupName</a> </li>
        }
    </ul>
</nav>
<!--Side Menu End-->
