@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <!-- Start Col-9 -->
        <div class=" col-12 col-lg-9">
            <!-- Start Hashtag -->
            @await Component.InvokeAsync("HashtagViewComponent")
            <!-- End Hashtag -->
            <!-- Strat Hot News -->
            <div class="container shadow bg-body-tertiary rounded mb-4">
                <div class="row">
                    <!-- Start Hot News Line -->
                    <div class="box mb-3">
                        <h6 class="position-relative ">
                            <span class="HotNews-Line-Color position-relative bg-body-tertiary"> <a asp-area="" asp-controller="report" asp-action="HotNewsReportGroup">خط داغ</a></span>
                            <a class="more-report bg-body-tertiary"> <i class="fas fa-bars ms-3"></i> همه اخبار </a>
                        </h6>
                    </div>
                    <!-- End Hot News Line -->
                    <!-- Strat Hot News First -->
                    @await Component.InvokeAsync("HotNewsReportViewComponent")
                    <!-- End Hot News First -->
                    <!-- Strat Hot News -->
                    @await Component.InvokeAsync("HotNewsReportsViewComponent")
                    <!-- End Hot News -->
                </div>
            </div>
            <!-- End Hot News -->
            <!-- Start Sport -->

            @await Component.InvokeAsync("SportViewComponent")

            <!-- End Sport -->
            
            @await Component.InvokeAsync("EconomicViewComponent")

            <!-- End Economic -->
            <!-- Start Health -->

            @await Component.InvokeAsync("HealthViewComponent")

            <!-- End Health -->
            <!-- Start Multi Media -->

            @await Component.InvokeAsync("MultiMediaSliderViewComponent")

            <!-- End Multi Media -->
            <!-- Start NavTabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item  navtab-index" role="presentation">
                    <button class="nav-link active" id="Social-tab" data-bs-toggle="tab" data-bs-target="#Social-tab-pane" type="button" role="tab" aria-controls="Social-tab-pane" aria-selected="true"> اجتماعی </button>
                </li>
                <li class="nav-item navtab-index" role="presentation">
                    <button class="nav-link" id="Cultural-tab" data-bs-toggle="tab" data-bs-target="#Cultural-tab-pane" type="button" role="tab" aria-controls="Cultural-tab-pane" aria-selected="false"> فرهنگی </button>
                </li>
                <li class="nav-item navtab-index" role="presentation">
                    <button class="nav-link " id="Political-tab" data-bs-toggle="tab" data-bs-target="#Political-tab-pane" type="button" role="tab" aria-controls="Political-tab-pane" aria-selected="false"> سیاسی </button>
                </li>
                <li class="nav-item navtab-index" role="presentation">
                    <button class="nav-link" id="Artistic-tab" data-bs-toggle="tab" data-bs-target="#Artistic-tab-pane" type="button" role="tab" aria-controls="Artistic-tab-pane" aria-selected="false"> هنری </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Start اجتماعی -->

                @await Component.InvokeAsync("SocialViewComponent")

                <!-- End اجتماعی -->
                <!-- Start فرهنگی -->

                @await Component.InvokeAsync("CulturalViewComponent")

                <!-- End فرهنگی -->
                <!-- Start سیاسی -->

                @await Component.InvokeAsync("PoliticalViewComponent")

                <!-- End سیاسی -->
                <!-- start هنری -->

                @await Component.InvokeAsync("ArtisticViewComponent")

                <!-- End هنری -->
            </div>
            <!-- End NavTabs -->
            <!-- Start TopReports Line -->
            <div class="box">
                <h6 class="position-relative ">
                    <span class="TopReports-Line-Color position-relative bg-body"> محبوب ترین اخبار </span>
                </h6>
            </div>
            <!-- End TopReports Line -->
            <!-- Start TopReports -->

            @await Component.InvokeAsync("TopReportsViewComponent")

            <!-- End TopReports -->
            <!-- Start SpecialReports -->
            <div class="mb-5">
                <!-- Start SpecialReports Line -->
                <div class="box">
                    <h6 class="position-relative ">
                        <span class="Special-Line-Color position-relative bg-body"> <a asp-area="" asp-controller="report" asp-action="ReportGroup" asp-route-urlName="Special">ویژه خبری</a> </span>
                        <a class="more-report bg-body"> <i class="fas fa-bars ms-3"></i> همه اخبار </a>
                    </h6>
                </div>
                <!-- End SpecialReports Line -->
                <!-- Card First -->
                <div class="col-12 col-md-4 mb-4 mt-2 body-plusfirst">

                    @await Component.InvokeAsync("SpecialReportViewComponent")

                </div>

                @await Component.InvokeAsync("SpecialReportsViewComponent")

            </div>
            <!-- End SpecialReports -->
            <!--Start LastNews Hide -->
            <div class="col-12 d-lg-none row my-5">
                @await Component.InvokeAsync("LastNewsReportsViewComponent")
            </div>
            <!--End LastNews Hide -->
            <!-- Start Ad Hide -->
            <div class="col-12 d-lg-none row mb-5">
                @await Component.InvokeAsync("AdsViewComponent")
            </div>
            <!-- End Ad Hide -->

        </div>
        <!--End Col-9 -->
        <!--Start Col-3 -->
        <div class="col-12 d-none col-lg-3 d-lg-block ">
            <!-- Start Color-Palet -->
            <div class="row mb-5">
                <partial name="_ColorPalet" />
            </div>
            <!-- End Color-Palet -->
            <!-- Start Ad -->
            <div class="row mb-5">
                @await Component.InvokeAsync("AdsViewComponent")
            </div>
            <!-- End Ad -->
            <!-- LastNews -->
            <div class="my-3">
                <!-- Start LastNews -->
                @await Component.InvokeAsync("LastNewsReportsViewComponent")
                <!-- End LastNews -->
            </div>
            <!-- End LastNews -->
        </div>
        <!--End Col-3 -->
    </div>
</div>

@section Scripts 
{
<script>
    $(document).ready(function (e) {
        $('.flexslider').flexslider({

            animation: "slide",
            fadeFirstSlide: true,
            pauseOnHover: true
        });
    });
</script>
}