<div class="bg-body-secondary shadow">
    <p class="mt-3">رنگ مورد نظر خود را انتخاب کنید.</p>
    <div class="theme-tray">
        <section class="pl-color">
            <h5>رنگ پایه</h5>
            <span title="Love Red" class="red"> </span>
            <span title="Clover Green" class="green"> </span>
            <span title="Dodger Blue" class="blue"> </span>
            <span title="Bright Neon Pink" class="bnp"> </span>
            <span title="Pumpkin Orange" class="orange"> </span>
            <span title="Black" class="black"> </span>
            <span title="Neon Pink" class="pink"> </span>
            <span title="Golden Brown" class="gol-b"> </span>
            <span title="Greenish Blue" class="greenish"> </span>
            <span title="Wood" class="wood"> </span>
        </section>
        <section class="gr-color">
            <h5>طیف رنگی</h5>
            <span title="Flickr" class="flickr"> </span>
            <span title="Facebook Messenger" class="fb-messenger"> </span>
            <span title="Moonlit Asteroid" class="moonlit"> </span>
            <span title="Park Life" class="park-life"> </span>
            <span title="Dance to Forget" class="d2f"> </span>
            <span title="Man of the Steel" class="steel-man"> </span>
            <span title="Amethyst" class="amethyst"> </span>
            <span title="Between the Clouds" class="between-clouds"> </span>
            <span title="Crazy Orange" class="crazy-orange"> </span>
            <span title="Endless River" class="endless-river"> </span>
        </section>
    </div>
</div>