<footer>

    <div class="col-12 row m-0 footer body-footer">
        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">درباره ما</h6>
            <p class="text-footer">
                آبان نیوز که کار خود را از سال ۱۴۰۲ شروع کرده است تلاش دارد آخرین تحلیل‌ها و گزارش‌ها از مهم‌ترین اتفاقات روز ایران و جهان را به صورت آنلاین در اختیار مخاطبان خود قرار دهد. مشی رسانه‌ای این سایت، تحلیلی - خبری است و اعضای تحریریه این مجموعه می‌کوشند از قالب ظاهری خبرها فراتر رفته و به زوایای پنهان و آشکار حوادث سرک بکشند و با کندوکاو بیشتر، ناگفته‌ها و وجوه نامکشوف وقایع و حوادث را بیابند. این مجموعه رسانه‌ای خود را در امر اطلاع‌رسانی مستقل می‌داند و در چارچوب قوانین نظام جمهوری اسلامی ایران و تعهد به آرمان‌های انقلاب اسلامی و امام راحل و شهیدان انقلاب، از درغلتیدن به تمایلات حزبی و جناحی پرهیز دارد. این مجموعه اما نقد و تحلیل کارشناسانه دستگاه‌ها، عملکرد مسئولان و احزاب را وظیفه ذاتی خود می‌پندارد و آن را با هدف ارتقای دانایی جامعه، حق پرسشگری شهروندان و وظیفه پاسخگویی مسئولان با جدیت دنبال می‌کند.
            </p>
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">جدیدترین ارسال ها</h6>
            <ul class="list-unstyled">
                <!--News 1 -->
                <li class="d-block">
                    <div class="d-inline-flex align-items-center">
                        <a>
                            <img src="~/assets/Img/ReportImages/ee5abd41-8ea7-4559-88f0-2ef16a141b2f.jpg" class="rounded img-Footer" alt="">
                        </a>
                        <p class="px-2">
                            <a class="text-decoration-none text-footer">
                                ماجرای قهر و آشتی‌ها در صداوسیما/ زندگی شیرین می‌شود؟
                            </a>
                        </p>
                    </div>
                </li>
                <!--News 2 -->
                <li class="d-block">
                    <div class="d-inline-flex align-items-center">
                        <a>
                            <img src="~/assets/Img/ReportImages/56a51b62-c432-45fb-8f4f-6834dcdc694d.jpg" class="rounded img-Footer" alt="">
                        </a>
                        <p class="px-2">
                            <a class="text-decoration-none text-footer">
                                سکوهای ورزشگاه آزادی آذرماه آماده می‌شود
                                <i class="fa fa-film"></i>
                            </a>
                        </p>
                    </div>
                </li>
                <!--News 3 -->
                <li class="d-block">
                    <div class="d-inline-flex align-items-center">
                        <a>
                            <img src="~/assets/Img/ReportImages/a0d628e0-51ae-401e-b311-7437185f603f.jpg" class="rounded img-Footer" alt="">
                        </a>
                        <p class="px-2">
                            <a class="text-decoration-none text-footer">
                                تصاویری از بازیگوشی خانواده جدید پلنگ ایرانی در پارک ملی تندوره
                                <i class="fa fa-film"></i>
                            </a>
                        </p>
                    </div>
                </li>
                <!--News 4 -->
                <li class="d-block">
                    <div class="d-inline-flex align-items-center">
                        <a>
                            <img src="~/assets/Img/ReportImages/00f3b6c7-f00b-44eb-ac0a-ffb372d7bfd9.jpg" class="rounded img-Footer" alt="">
                        </a>
                        <p class="px-2">
                            <a class="text-decoration-none text-footer">
                                ضایعات غذا در کشور بیش از ۲.۵ برابر اتحادیه اروپا/ "نان، برنج و میوه" ...
                            </a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">جدیدترین نظرات کاربران</h6>
            <!--Comment 1 -->
            <h6 class="comment-name-footer">محمد حسین</h6>
            <p class="text-footer">
                همه مسلمانان جهان باید از فلسطین حمایت کنند.
                فلسطین مسئله اول جهان اسلام بوده و هست و مبارزه با ظلم تا نابودی رژیم منحوس صهیونیستی ادامه دارد.
            </p>
            <!--Comment 2 -->
            <h6 class="comment-name-footer">۱۲۳۴۵۶</h6>
            <p class="text-footer">
                تست برای ارسال نظر
            </p>
            <!--Comment 3 -->
            <h6 class="comment-name-footer">۱۲۳۴۵۶</h6>
            <p class="text-footer">
                تست برای ارسال نظر
            </p>
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">گالری تصاویر</h6>
            <ul class="list-unstyled ">
                <li class="d-inline-flex">
                    <img id="viewImg" src="~/assets/Img/ReportImages/9a41f08f-b2d3-40e8-aebd-d1799b2bd100.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <script>
                    var modal = document.getElementById('myModal');
                    var img = document.getElementById('viewImg');
                    var modalImg = document.getElementById('img01');
                    modalImg.style.height = "90%";
                    modalImg.style.width = "90%";
                    var captionText = document.getElementById('caption');
                    img.onclick = function () {
                        modal.style.display = "block";
                        modal.style.height = "100%";
                        modalImg.src = this.src;
                        captionText.innerHTML = this.alt;
                    }
                    var span = document.getElementsByClassName("close")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                </script>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/e4fc8eaf-89ce-45cc-bf46-5ead54e0d812.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/d7bb8fea-c161-441a-a4cb-bbedd23ea2c4.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/d730f788-76d3-440a-8118-372f0562b346.png" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/c2392af3-c7ec-44c3-adc3-056be62ed564.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/acd55981-6c23-4c03-a103-188fbb52b1d4.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/aba900a8-b20c-4208-a364-9c5e6c8ac848.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
                <li class="d-inline-flex">
                    <img id="" src="~/assets/Img/ReportImages/a3fb7df4-f375-40df-b5af-64b2619f831f.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                </li>
            </ul>
        </div>
    </div>
</footer>