
<header class="am-header">
    <div class="logo" title=" آبان نیوز ">
        <a href="index.html">
            <img src="~/assets/Img/Logo/AbanNewsLogo.png" style="width: 120px; height: 40px;">
        </a>
    </div>

    <div class="search-trigger">
        <div class='s-wrapper'>
            <div id='circle'></div>
            <div id='bar'></div>
        </div>
    </div>
    <!--Search-trigger-->
    <div class="search-container">
        <div class="search-box">
            <form action="~/Search" class="search-form">
                <input type="text" name="q" placeholder="جستجو کنید" id="search" autocomplete="off">
                <div class="search-icon">
                    <!-- <i class="fa fa-search search-icon"></i> -->
                    <button style="background-color:transparent; border:none; color:white;"><i class="fa fa-search "></i></button>
                </div>
            </form>
        </div>
        <!--//search-box-->
    </div>
    <!--//search-container-->
    <!--Menu Icon-->
    <div class="menu-trigger"></div>
</header>