<header class="am-header default-theme sticky">
    <div class="logo" title=" آبان نیوز ">
        <a href="index.html">
            <img src="Assets/Img/Logo/AbanNewsLogo.png" style="width: 120px; height: 40px;">
        </a>
    </div>

    <div class="search-trigger">
        <div class="s-wrapper">
            <div id="circle"></div>
            <div id="bar"></div>
        </div>
    </div>
    <!--Search-trigger-->
    <div class="search-container">
        <div class="search-box">
            <form action="~/Search" class="search-form">
                <input type="text" name="q" placeholder="جستجو کنید" id="search" autocomplete="off">
                <div class="search-icon">
                    <!-- <i class="fa fa-search search-icon"></i> -->
                    <button style="background-color:transparent; border:none; color:white;"><svg class="svg-inline--fa fa-magnifying-glass" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg><!-- <i class="fa fa-search "></i> Font Awesome fontawesome.com --></button>
                </div>
            </form>
            <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;" xml:space="preserve"><path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"></path><path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"></path></svg><div class="go-icon"><svg class="svg-inline--fa fa-arrow-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path></svg><!-- <i class="fa fa-arrow-left"></i> Font Awesome fontawesome.com --></div>
        </div>
        <!--//search-box-->
    </div>
    <!--//search-container-->
    <!--Menu Icon-->
    <div class="menu-trigger"><svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="120"><path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315-8.024349,-11.958003-14.89975,-10.85914 -6.875401,1.098863-13.637059,4.171617-13.637059,16.368042 v 40"></path><path class="line middle" d="m 30,50 h 40"></path><path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752-4.786586,-27.274118-16.667516,-27.274118-11.88093,0-18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path></svg></div>
</header>
