@using News.Domain.ViewModels.Reports;
@using News.Domain.Entities.Reports;
@model CreateReportViewModel

@{
    ViewData["Title"] = "ساخت گزارش";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="body">
                <form asp-area="Admin" asp-controller="Report" asp-action="CreateReport" method="post" enctype="multipart/form-data">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" ckeditor="1" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="FullText" class="control-label"></label>
                                    <textarea asp-for="FullText" ckeditor="2" class="form-control"></textarea>
                                    <span asp-validation-for="FullText" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Source" class="control-label"></label>
                                    <input asp-for="Source" class="form-control" />
                                    <span asp-validation-for="Source" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Tags" class="control-label"></label>
                                    <input asp-for="Tags" class="form-control" />
                                    <span asp-validation-for="Tags" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Author" class="control-label"></label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>انتخاب دسته خبری</label>
                                    <select class="form-control" asp-for="groupId" asp-items="@(ViewData["reportGroup"] as SelectList)">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="ImageAlt" class="control-label"></label>
                                    <input asp-for="ImageAlt" class="form-control" />
                                    <span asp-validation-for="ImageAlt" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="ImageTitle" class="control-label"></label>
                                    <input asp-for="ImageTitle" class="form-control" />
                                    <span asp-validation-for="ImageTitle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="file" asp-for="AvatarImage" id="Avatar" class="form-control" placeholder="عکس اصلی">
                                    <span asp-validation-for="AvatarImage"></span>
                                </div>
                            </div>
                            <img src="" id="imgPreview" class="border my-1 mx-auto d-block" width="120px" height="120px">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg m-l-15 waves-effect">ثبت</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScripts" />
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#Avatar").change(function () {
            readURL(this);
        });
    </script>
}