<div>
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="sidebar-profile clearfix">
                        <div class="profile-img">
                            <img src="/Admin/assets/images/usrbig.jpg" alt="profile">
                        </div>
                        <div class="profile-info">
                            <h3></h3>
                            <p>خوش آمدید !</p>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="menu-icon ti-image"></i>
                        <span> گروه خبری</span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Report" asp-action="FilterReportGroups">لیست گروه خبری</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Report" asp-action="CreateReportGroup">افزودن گروه خبری</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="menu-icon ti-image"></i>
                        <span> اخبار</span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Report" asp-action="FilterReports">لیست اخبارات</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Report" asp-action="CreateReport">افزودن اخبار</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="menu-icon ti-image"></i>
                        <span> گالری</span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="gallery" asp-action="Filtergalleries">لیست گالری</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="gallery" asp-action="CreateGallery">افزودن گالری</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="menu-icon ti-image"></i>
                        <span> هشتگ</span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Hashtag" asp-action="FilterHashtags">لیست هشتگ</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="Hashtag" asp-action="CreateHashtag">افزودن هشتگ</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="menu-icon ti-user"></i>
                        <span>مدیریت تماس با ما</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="active">
                            <a asp-area="Admin" asp-controller="ContactUs" asp-action="List">لیست تماس با ما</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</div>
